:root {
  --i-mui-red-100: #ffebee;
  --i-mui-red-200: #ffcdd2;
  --i-mui-red-300: #ef9a9a;
  --i-mui-red-400: #e57373;
  --i-mui-red-500: #ef5350;
  --i-mui-red-600: #f44336;
  --i-mui-red-700: #e53935;
  --i-mui-red-800: #d32f2f;
  --i-mui-red-900: #c62828;
  --i-mui-red-1000: #b71c1c;
  --i-mui-red-A100: #ff8a80;
  --i-mui-red-A200: #ff5252;
  --i-mui-red-A400: #ff1744;
  --i-mui-red-A700: #d50000;
  --i-mui-pink-100: #fce4ec;
  --i-mui-pink-200: #f8bbd0;
  --i-mui-pink-300: #f48fb1;
  --i-mui-pink-400: #f06292;
  --i-mui-pink-500: #ec407a;
  --i-mui-pink-600: #e91e63;
  --i-mui-pink-700: #d81b60;
  --i-mui-pink-800: #c2185b;
  --i-mui-pink-900: #ad1457;
  --i-mui-pink-1000: #880e4f;
  --i-mui-pink-A100: #ff80ab;
  --i-mui-pink-A200: #ff4081;
  --i-mui-pink-A400: #f50057;
  --i-mui-pink-A700: #c51162;
  --i-mui-purple-100: #f3e5f5;
  --i-mui-purple-200: #e1bee7;
  --i-mui-purple-300: #ce93d8;
  --i-mui-purple-400: #ba68c8;
  --i-mui-purple-500: #ab47bc;
  --i-mui-purple-600: #9c27b0;
  --i-mui-purple-700: #8e24aa;
  --i-mui-purple-800: #7b1fa2;
  --i-mui-purple-900: #6a1b9a;
  --i-mui-purple-1000: #4a148c;
  --i-mui-purple-A100: #ea80fc;
  --i-mui-purple-A200: #e040fb;
  --i-mui-purple-A400: #d500f9;
  --i-mui-purple-A700: #aa00ff;
  --i-mui-deepPurple-100: #ede7f6;
  --i-mui-deepPurple-200: #d1c4e9;
  --i-mui-deepPurple-300: #b39ddb;
  --i-mui-deepPurple-400: #9575cd;
  --i-mui-deepPurple-500: #7e57c2;
  --i-mui-deepPurple-600: #673ab7;
  --i-mui-deepPurple-700: #5e35b1;
  --i-mui-deepPurple-800: #512da8;
  --i-mui-deepPurple-900: #4527a0;
  --i-mui-deepPurple-1000: #311b92;
  --i-mui-deepPurple-A100: #b388ff;
  --i-mui-deepPurple-A200: #7c4dff;
  --i-mui-deepPurple-A400: #651fff;
  --i-mui-deepPurple-A700: #6200ea;
  --i-mui-indigo-100: #e8eaf6;
  --i-mui-indigo-200: #c5cae9;
  --i-mui-indigo-300: #9fa8da;
  --i-mui-indigo-400: #7986cb;
  --i-mui-indigo-500: #5c6bc0;
  --i-mui-indigo-600: #3f51b5;
  --i-mui-indigo-700: #3949ab;
  --i-mui-indigo-800: #303f9f;
  --i-mui-indigo-900: #283593;
  --i-mui-indigo-1000: #1a237e;
  --i-mui-indigo-A100: #8c9eff;
  --i-mui-indigo-A200: #536dfe;
  --i-mui-indigo-A400: #3d5afe;
  --i-mui-indigo-A700: #304ffe;
  --i-mui-blue-100: #e3f2fd;
  --i-mui-blue-200: #bbdefb;
  --i-mui-blue-300: #90caf9;
  --i-mui-blue-400: #64b5f6;
  --i-mui-blue-500: #42a5f5;
  --i-mui-blue-600: #2196f3;
  --i-mui-blue-700: #1e88e5;
  --i-mui-blue-800: #1976d2;
  --i-mui-blue-900: #1565c0;
  --i-mui-blue-1000: #0d47a1;
  --i-mui-blue-A100: #82b1ff;
  --i-mui-blue-A200: #448aff;
  --i-mui-blue-A400: #2979ff;
  --i-mui-blue-A700: #2962ff;
  --i-mui-lightBlue-100: #e1f5fe;
  --i-mui-lightBlue-200: #b3e5fc;
  --i-mui-lightBlue-300: #81d4fa;
  --i-mui-lightBlue-400: #4fc3f7;
  --i-mui-lightBlue-500: #29b6f6;
  --i-mui-lightBlue-600: #03a9f4;
  --i-mui-lightBlue-700: #039be5;
  --i-mui-lightBlue-800: #0288d1;
  --i-mui-lightBlue-900: #0277bd;
  --i-mui-lightBlue-1000: #01579b;
  --i-mui-lightBlue-A100: #80d8ff;
  --i-mui-lightBlue-A200: #40c4ff;
  --i-mui-lightBlue-A400: #00b0ff;
  --i-mui-lightBlue-A700: #0091ea;
  --i-mui-cyan-100: #e0f7fa;
  --i-mui-cyan-200: #b2ebf2;
  --i-mui-cyan-300: #80deea;
  --i-mui-cyan-400: #4dd0e1;
  --i-mui-cyan-500: #26c6da;
  --i-mui-cyan-600: #00bcd4;
  --i-mui-cyan-700: #00acc1;
  --i-mui-cyan-800: #0097a7;
  --i-mui-cyan-900: #00838f;
  --i-mui-cyan-1000: #006064;
  --i-mui-cyan-A100: #84ffff;
  --i-mui-cyan-A200: #18ffff;
  --i-mui-cyan-A400: #00e5ff;
  --i-mui-cyan-A700: #00b8d4;
  --i-mui-tail-100: #e0f2f1;
  --i-mui-tail-200: #b2dfdb;
  --i-mui-tail-300: #80cbc4;
  --i-mui-tail-400: #4db6ac;
  --i-mui-tail-500: #26a69a;
  --i-mui-tail-600: #009688;
  --i-mui-tail-700: #00897b;
  --i-mui-tail-800: #00796b;
  --i-mui-tail-900: #00695c;
  --i-mui-tail-1000: #004d40;
  --i-mui-tail-A100: #a7ffeb;
  --i-mui-tail-A200: #64ffda;
  --i-mui-tail-A400: #1de9b6;
  --i-mui-tail-A700: #00bfa5;
  --i-mui-green-100: #e8f5e9;
  --i-mui-green-200: #c8e6c9;
  --i-mui-green-300: #a5d6a7;
  --i-mui-green-400: #81c784;
  --i-mui-green-500: #66bb6a;
  --i-mui-green-600: #4caf50;
  --i-mui-green-700: #43a047;
  --i-mui-green-800: #388e3c;
  --i-mui-green-900: #2e7d32;
  --i-mui-green-1000: #1b5e20;
  --i-mui-green-A100: #b9f6ca;
  --i-mui-green-A200: #69f0ae;
  --i-mui-green-A400: #00e676;
  --i-mui-green-A700: #00c853;
  --i-mui-lightGreen-100: #f1f8e9;
  --i-mui-lightGreen-200: #dcedc8;
  --i-mui-lightGreen-300: #c5e1a5;
  --i-mui-lightGreen-400: #aed581;
  --i-mui-lightGreen-500: #9ccc65;
  --i-mui-lightGreen-600: #8bc34a;
  --i-mui-lightGreen-700: #7cb342;
  --i-mui-lightGreen-800: #689f38;
  --i-mui-lightGreen-900: #558b2f;
  --i-mui-lightGreen-1000: #33691e;
  --i-mui-lightGreen-A100: #ccff90;
  --i-mui-lightGreen-A200: #b2ff59;
  --i-mui-lightGreen-A400: #76ff03;
  --i-mui-lightGreen-A700: #64dd17;
  --i-mui-lime-100: #f9fbe7;
  --i-mui-lime-200: #f0f4c3;
  --i-mui-lime-300: #e6ee9c;
  --i-mui-lime-400: #dce775;
  --i-mui-lime-500: #d4e157;
  --i-mui-lime-600: #cddc39;
  --i-mui-lime-700: #c0ca33;
  --i-mui-lime-800: #afb42b;
  --i-mui-lime-900: #9e9d24;
  --i-mui-lime-1000: #827717;
  --i-mui-lime-A100: #f4ff81;
  --i-mui-lime-A200: #eeff41;
  --i-mui-lime-A400: #c6ff00;
  --i-mui-lime-A700: #aeea00;
  --i-mui-yellow-100: #fffde7;
  --i-mui-yellow-200: #fff9c4;
  --i-mui-yellow-300: #fff59d;
  --i-mui-yellow-400: #fff176;
  --i-mui-yellow-500: #ffee58;
  --i-mui-yellow-600: #ffeb3b;
  --i-mui-yellow-700: #fdd835;
  --i-mui-yellow-800: #fbc02d;
  --i-mui-yellow-900: #f9a825;
  --i-mui-yellow-1000: #f57f17;
  --i-mui-yellow-A100: #ffff8d;
  --i-mui-yellow-A200: #ffff00;
  --i-mui-yellow-A400: #ffea00;
  --i-mui-yellow-A700: #ffd600;
  --i-mui-amber-100: #fff8e1;
  --i-mui-amber-200: #ffecb3;
  --i-mui-amber-300: #ffe082;
  --i-mui-amber-400: #ffd54f;
  --i-mui-amber-500: #ffca28;
  --i-mui-amber-600: #ffc107;
  --i-mui-amber-700: #ffb300;
  --i-mui-amber-800: #ffa000;
  --i-mui-amber-900: #ff8f00;
  --i-mui-amber-1000: #ff6f00;
  --i-mui-amber-A100: #ffe57f;
  --i-mui-amber-A200: #ffd740;
  --i-mui-amber-A400: #ffc400;
  --i-mui-amber-A700: #ffab00;
  --i-mui-orange-100: #fff3e0;
  --i-mui-orange-200: #ffe0b2;
  --i-mui-orange-300: #ffcc80;
  --i-mui-orange-400: #ffb74d;
  --i-mui-orange-500: #ffa726;
  --i-mui-orange-600: #ff9800;
  --i-mui-orange-700: #fb8c00;
  --i-mui-orange-800: #f57c00;
  --i-mui-orange-900: #ef6c00;
  --i-mui-orange-1000: #e65100;
  --i-mui-orange-A100: #ffd180;
  --i-mui-orange-A200: #ffab40;
  --i-mui-orange-A400: #ff9100;
  --i-mui-orange-A700: #ff6d00;
  --i-mui-deepOrange-100: #fbe9e7;
  --i-mui-deepOrange-200: #ffccbc;
  --i-mui-deepOrange-300: #ffab91;
  --i-mui-deepOrange-400: #ff8a65;
  --i-mui-deepOrange-500: #ff7043;
  --i-mui-deepOrange-600: #ff5722;
  --i-mui-deepOrange-700: #f4511e;
  --i-mui-deepOrange-800: #e64a19;
  --i-mui-deepOrange-900: #d84315;
  --i-mui-deepOrange-1000: #bf360c;
  --i-mui-deepOrange-A100: #ff9e80;
  --i-mui-deepOrange-A200: #ff6e40;
  --i-mui-deepOrange-A400: #ff3d00;
  --i-mui-deepOrange-A700: #dd2c00;
  --i-mui-brown-100: #efebe9;
  --i-mui-brown-200: #d7ccc8;
  --i-mui-brown-300: #bcaaa4;
  --i-mui-brown-400: #a1887f;
  --i-mui-brown-500: #8d6e63;
  --i-mui-brown-600: #795548;
  --i-mui-brown-700: #6d4c41;
  --i-mui-brown-800: #5d4037;
  --i-mui-brown-900: #4e342e;
  --i-mui-brown-1000: #3e2723;
  --i-mui-brown-A100: #d7ccc8;
  --i-mui-brown-A200: #bcaaa4;
  --i-mui-brown-A400: #8d6e63;
  --i-mui-brown-A700: #5d4037;
  --i-mui-grey-100: #fafafa;
  --i-mui-grey-200: #f5f5f5;
  --i-mui-grey-300: #eeeeee;
  --i-mui-grey-400: #e0e0e0;
  --i-mui-grey-500: #bdbdbd;
  --i-mui-grey-600: #9e9e9e;
  --i-mui-grey-700: #757575;
  --i-mui-grey-800: #616161;
  --i-mui-grey-900: #424242;
  --i-mui-grey-1000: #212121;
  --i-mui-grey-A100: #f5f5f5;
  --i-mui-grey-A200: #eeeeee;
  --i-mui-grey-A400: #bdbdbd;
  --i-mui-grey-A700: #616161;
  --i-mui-blueGrey-100: #212121;
  --i-mui-blueGrey-200: #cfd8dc;
  --i-mui-blueGrey-300: #b0bec5;
  --i-mui-blueGrey-400: #90a4ae;
  --i-mui-blueGrey-500: #78909c;
  --i-mui-blueGrey-600: #607d8b;
  --i-mui-blueGrey-700: #546e7a;
  --i-mui-blueGrey-800: #455a64;
  --i-mui-blueGrey-900: #37474f;
  --i-mui-blueGrey-1000: #263238;
  --i-mui-blueGrey-A100: #cfd8dc;
  --i-mui-blueGrey-A200: #b0bec5;
  --i-mui-blueGrey-A400: #78909c;
  --i-mui-blueGrey-A700: #455a64;
}
